cleo
cleosim
email-validator
fqdn
google-generativeai
gradio
grpcio-status
isoduration
jsonpointer
nwbwidgets
openai
pip-chill
pyaudio
rfc3339-validator
rfc3986-validator
rfc3987
shellingham
sounddevice
soundfile
streamlit
tensorflow
tomlkit
torch-geometric
typer
uri-template
virtualenv
webcolors
